@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "overrides";
@import "~bootstrap/scss/bootstrap";

html, body {
  min-height: 100vh;
  overflow: hidden;
}

.btn {
  font-weight: 700;
}