// Override default Bootstrap values
$body-bg: #fff;
$black: #3e3e3e;
$primary: #efc501;
$danger: #c54a11;
$warning: #ff8707;
$success: #52b682;
$info: #77d7ea;
$light: #f2f2f2;
$gray: #f2f2f2;
$gray-dark: darken($gray, 10%);

$grid-gutter-width: 3rem;

$font-family-base: 'Roboto';
$font-size-base: 1.1rem;

$navbar-padding-y: 0;
$navbar-padding-x: 0;
$navbar-brand-font-size: 1.1rem;
$navbar-brand-padding-y: 0;
$navbar-light-color: $black;
$navbar-light-toggler-border-color: transparent;
$navbar-nav-link-padding-x: 1rem;
$nav-link-padding-y: 0.8rem;
$nav-link-padding-x: 1rem;

$dropdown-border-radius: 0;
$dropdown-border-width: 0;
