@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins/_breakpoints";

.topbar {
  margin-bottom: 2rem;
}

.toggler {
  box-shadow: none !important;
}

.logo {
  height: 3.75rem;
  margin-right: 2rem;
}

.brand {
  font-weight: 700;
}

@include media-breakpoint-up(lg) {
  .nav {
    border-left: 1px solid #dfb701;
    :global {
      .dropdown-menu {
        box-shadow: 2px 2px 7px rgba(0,0,0,0.3);
      }
    }
  }
}

@include media-breakpoint-down(lg) {
  .nav {
    :global {
      .nav-link {
        padding-left: 1rem;
        padding-right: 1rem;
      }
    }
  }
}