.topbar {
  margin-bottom: 2rem;
}

.toggler {
  box-shadow: none !important;
}

.logo {
  height: 3.75rem;
  margin-right: 2rem;
}

.brand {
  font-weight: 700;
}

.nav {
  border-left: 1px solid #dfb701;
}