@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins/_breakpoints";

$barHeight: 3.75rem;

.logo {
  height: $barHeight;
  margin-right: 2rem;
}

.brand {
  background: var(--bs-primary);
  font-weight: 700;
  margin: 0;

  @include media-breakpoint-down(lg) {
    flex: 1;
  }
}

.topbar {
  margin-bottom: 2rem;
  position: relative;
  justify-content: space-between;
  align-items: stretch;
  z-index: 999;
  background: var(--bs-primary);
}

// hamburger
.toggler {
  box-shadow: none !important;
  cursor: pointer;
  width: 36px;
  height: 26px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  right: 1rem;
  top: 1rem;

  &::before, 
  &::after {
    width: 100%;
    height: 4px;
    background-color: var(--bs-black);
    border-radius: 4px;
    position: absolute;
    transition: bottom 0.15s ease 0.15s, top 0.15s ease 0.15s, transform 0.15s ease;
    content: "";
    display: block;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }
}

.togglerExpanded {
  .hamburgerLine {
    opacity: 0;
  }

  &::before, 
  &::after {
    transition: bottom 0.15s ease, top 0.15s ease, transform 0.15s ease 0.15s;
  }

  &::before {
    transform: rotate3d(0, 0, 1, 45deg);
    top: 11px;
  }

  &::after {
    transform: rotate3d(0, 0, 1, -45deg);
    bottom: 11px;
  }
}

.hamburgerLine {
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--bs-black);
  border-radius: 4px;
  transition: opacity 0.15s ease 0.15s;
}

//submenu nav
.nav {
  background: var(--bs-primary);

  @include media-breakpoint-down(lg) {
    position: absolute;
    width: 100%;
    box-shadow: 2px 3px 4px rgba(0,0,0,0.3);
    border-top: 1px solid #dfb701;
    display: none;
    z-index: -1;

    &.navExpanded {
      display: block;
      top: $barHeight;
    }
  }

  @include media-breakpoint-up(lg) {
    position: relative;
    display: flex;
    flex: 1;
    justify-content: flex-end;
  }
}

.dropdown {
  position: relative;

  @include media-breakpoint-up(lg) {
    &.dropdownFirst {
      border-left: 1px solid #dfb701;
    }
  }
}

.dropdownToggle {
  display: block;
  padding: 0.5rem 1rem;
  font-size: var(--bs-nav-link-font-size);
  font-weight: var(--bs-nav-link-font-weight);
  color: var(--bs-nav-link-color) !important;
  border: 0;
  background: none;
  height: $barHeight;
  position: relative;
  z-index: 10;
  transition: background 0.2s ease;

  &:hover {
    background: darken(#efc501, 3%);
  }

  @include media-breakpoint-down(lg) {
    background: var(--bs-primary);
    width: 100%;
    text-align: left;
  }

  * {
    pointer-events: none;
  }
}

.icon {
  width: 0.5rem;
  margin-left: 0.5rem;
  transition: transform 0.2s ease;
}

.dropdownToggleActive {
  background: darken(#efc501, 3%);

  .icon {
    transform: rotate3d(0, 0, 1, 180deg);
  }
}

.dropdownMenu {
  box-shadow: inset 2px 2px 7px rgba(0,0,0,0.3);
  padding: 0;
  position: relative;
  background: var(--bs-dark);
  transform: translate3d(0, -110%, 0);
  opacity: 0;
  transition: all 0.3s ease;
  pointer-events: none;

  @include media-breakpoint-up(lg) {
    position: absolute;
    right: 0;
    box-shadow: 2px 2px 7px rgba(0,0,0,0.3);
    width: 15rem;
    z-index: -1;
  }
}

.dropdownMenuOpen {
  transform: translate3d(0, 0, 0);
  opacity: 1;
  pointer-events: all;
}

.dropdownMenuLink {
  color: var(--bs-white) !important;
  display: block;
  padding: 0.5rem 1rem;

  &:hover {
    background: var(--bs-gray-700);
  }
}
