.header {
  margin: 1rem 0 0.25rem 0;
}

.note {
  font-style: italic;
  margin-bottom: 1.5rem;
  color: var(--bs-gray-600);
  font-size: 0.95rem;
}

:global {
  .cm-editor {
    border-radius: 3px;
    overflow: hidden;
  }
}