.groupButton {
  &:first-of-type {
    border-right: 1px solid var(--bs-white) !important;
    margin-right: 1px;
  }
  :global {
    .btn {
      &:hover {
        z-index: 0;
      }
    }
  }
}

.loadQuery {
  border-radius: var(--bs-border-radius);
  box-shadow: 2px 2px 7px rgba(0,0,0,0.3);
}

.loadQueryItemActive {
  background: var(--bs-primary) !important;
  color: var(--bs-dark);
}

.cookieQueryHeader {
  display: block;
  font-size: 1rem;
  font-weight: 700;
}

.cookieQueryDescription {
  display: block;
  font-size: 0.8rem;
  opacity: 0.7;
}