.nav {
  border-bottom: 4px solid var(--bs-gray-300);
  margin-bottom: 2rem;
}

.item,
.activeItem  {
  border: 0 !important;
  margin-right: 1rem;
  padding: 0.5rem 1rem;
  font-weight: 700;
  margin-bottom: -4px !important;
  position: relative;
  z-index: 2;
}

.activeItem {
  background: var(--bs-light) !important;
  border-bottom: 4px solid var(--bs-gray-500) !important;
}