@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins/_breakpoints";

.nav {
  border: 0;
}

.item {
}

.activeItem {
  background: var(--bs-light) !important;
  border-color: transparent !important;
}

.pane {
  background: var(--bs-light);
  padding: 1rem 2rem;
}

.tabContent {
  position: relative;

  @include media-breakpoint-up(md) {
    &::after {
      display: block;
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
      width: 50vw;
      height: 100vh;
      background: var(--bs-light);
    }
  }
}