.buttonBar {
  margin: 2rem 0;
  justify-content: space-between;

  :global {
    .btn {
      margin-bottom: 1rem;
    }
  }
}

.nav {
  border-bottom: 4px solid var(--bs-gray-300);
  margin-bottom: 2rem;
}

.item,
.activeItem  {
  border: 0 !important;
  margin-right: 1rem;
  padding: 0.5rem 1rem;
  font-weight: 700;
  margin-bottom: -4px !important;
  position: relative;
  z-index: 2;
}

.activeItem {
  background: none !important;
  border-bottom: 4px solid var(--bs-gray-500) !important;
}

.pane {
  transition: opacity 0.2s linear !important;
}

:global {
  .tab-pane {
    &.active,
    &.show {
      transition: opacity 0.4s linear 0.3s !important;
    }
  }
}