.header {
  margin: 1rem 0;
}

.card {
  margin-bottom: 2rem;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.15);
}

.buttonBar {
  margin: 2rem 0;
  justify-content: space-between;

  :global {
    .btn {
      margin-bottom: 1rem;
    }
  }
}

.groupButton {
  &:first-of-type {
    border-right: 1px solid var(--bs-white) !important;
    margin-right: 1px;
  }
}

.nav {
  border-bottom: 4px solid var(--bs-gray-300);
  margin-bottom: 2rem;
}

.item,
.activeItem  {
  border: 0 !important;
  margin-right: 1rem;
  padding: 0.5rem 1rem;
  font-weight: 700;
  margin-bottom: -4px !important;
  position: relative;
  z-index: 2;
}

.activeItem {
  background: none !important;
  border-bottom: 4px solid var(--bs-gray-500) !important;
}

.loadQuery {
  border-radius: var(--bs-border-radius);
  box-shadow: 2px 2px 7px rgba(0,0,0,0.3);
}

.loadQueryItemActive {
  background: var(--bs-primary) !important;
  color: var(--bs-dark);
}

.select {
  margin-bottom: 1rem;
}
