@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins/_breakpoints";

.container {
  background: var(--bs-light);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.spinner {
  width: 100%;
  min-height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  font-size: 0.9rem;
  font-weight: 700;
}

.cell {
  padding: 0.5rem 0;
}

.resultsActions {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  @include media-breakpoint-up(sm) {
    flex-wrap: nowrap;
    justify-content: flex-end;
  }

  @include media-breakpoint-up(md) {
  }
}

.resultsButtons {
  margin-bottom: 0.5rem;

  @include media-breakpoint-up(sm) {
    margin-bottom: 0;
  }
}

.filter {
  @include media-breakpoint-up(md) {
    width: auto;
  }
}

.error {
  text-align: center;
  padding: 2rem;
}
